.container {
    width: 90%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* html {
    display: flex;
    justify-content: center;
    align-items: center;
} */

hr {
    width: 100%;
}

.font {
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
}

.font-code {
    font-family: 'Cascadia Mono', 'monospace';
}

.box {
    flex: 1;
    margin: 5px;
    min-width: 210px;
    background-color: #181818;
    padding: 0 10px 10px 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.dark {
    background-color: #161616;
}

.mainpage_row {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.button {
    display: inline-block;
    border-radius: 10px;
    background-color: #262626;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.table {
    background-color: #181818;
    border-radius: 15px;
}

th {
    background-color: #222222;
    border-radius: 5px;
}

tr, td {
    background-color: #262626;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .container {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 50%;
    }
}